* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
  }

  /*
::-webkit-scrollbar {
    display: none;
  }
  */

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(129, 129, 129);
  border-radius: 10px;
}

body {
    font-size: 2vh;
    background-image: url("./images/newWoodBackground2.jpg");
    background-size: 105% 120%;
    display: block;
    height: 97vh;
    text-align: center;
  }

  ::backdrop {
    background-image: url("./images/newWoodBackground2.jpg");
    background-size: 105% 120%;
    display: block;
  }  
  

@media screen and (orientation:landscape) and (max-width: 4000px) {
    #rotateScreenIcon,
    h1,
    #dropDownMenu,
    #batchRecipesDiv,
    .setup-images,
    .portrait-buttons,
    .image-numbers,
    #batchRecipePhotos
    {
    display: none;
    }

    *{
        color: rgb(241, 237, 231);
    }
    
    body{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    /* Header */
    .topnav {
      background-color: rgba(0, 0, 0, .6);
      border-bottom: 10px solid black;
      color: white;
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #icon{
      position: absolute;
      top: 2%;
      left: 2%;
      font-size: 3em;
    }

    #dropDownMenu{
      background-color: rgba(0, 0, 0, .8);
      border-right: 10px solid black;
      border-bottom: 10px solid black;
      width: 30%;
      height: 85.5%;
      position: absolute;
      left: 0;
      top: 10.5%;
      z-index: 2;
      padding: 0% 0% 1% 0%;
      overflow: scroll;
      overflow-x: hidden;
      box-shadow: 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5);
    }

    .menu-items{
      padding: 3% 0% 3% 8%;
      height: 8%;
      font-size: 1.75em;
      display: flex;
      align-items: center;
    }

    .menu-items:hover{
      background-color: #2a2a2a;
    }

    .sub-menu-items{
      font-size: 1.25em;
      padding-left: 15%;
      background-color: #515151;
    }

    .titles{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 300%;
    }

    img[src="./images/logo.png"]{
      position: absolute;
      top: 3%;
      right: 2%;
      max-height: 5%;
    }

    /* Main */
    .photo-containers{
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 100vw;
      padding: 1.5%;
      position: relative;
      top: -3%;
      overflow: hidden;
    }

    .setup-images{
      box-shadow: 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5);
      border-radius: 1.5%;
      max-width: 70%;
    }

    #serviceWellFruit{
      max-width: 40%;
    }

    #serviceWellMain,
    #well500Overstock,
    #serviceWellTopRackRight,
    #well500Main
    {
      max-width: 45%;
    }

    #well500LeftSide,
    #well700Overstock,
    #well400Main{
      max-width: 50%;
    }

    #serviceWellTopRackLeft,
    #serviceWellOverstock,
    #serviceWellServerGarnish,
    #serverPickup,
    #well500RightSide
    {
      max-width: 60%;
    }

    #well500Garnish
    {
      max-width: 85%;
    }

    #well700LeftStation{
      max-width: 95%;
    }


    

    .image-numbers{
      font-size: 1em;
      box-shadow: 1px 1px 30px rgb(0, 0, 0, 1), 1px 1px 30px rgb(0, 0, 0, 1), 1px 1px 30px rgb(0, 0, 0, 1);
      border: .2em solid rgb(38, 255, 0);
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border-radius: 50%;
      width: 3%;
      height: 6.25%;
      position: absolute;
      text-align: center;
    }

    .image-numbers:hover{
      background-color: rgb(0, 0, 0, .7);
      color: antiquewhite;
      box-shadow: 1px 1px 30px rgb(255, 255, 255) , 1px 1px 30px rgb(255, 255, 255), 1px 1px 30px rgb(255, 255, 255);
      transition: transform .2s;
      transform: scale(1.75);
    }


    /* Service Well Printer */
    #btn1SWP{
      top: 40%;
      left: 18%;
    }

    #btn2SWP{
      top: 25%;
      left: 32%;
    }

    #btn3SWP{
      top: 70%;
      left: 47.25%;
    }

    #btn4SWP{
      top: 73%;
      left: 22%;
    }

    #btn5SWP{
      top: 45%;
      left: 42%;
    }

    #btn6SWP{
      top: 33%;
      left: 54%;
    }

    #btn7SWP{
      top: 42%;
      left: 70%;
    }

    #btn8SWP{
      top: 17%;
      left: 67%;
    }


    /* Service Well Main */
    #btn1SWM{
      top: 36%;
      left: 37%;
    }

    #btn2SWM{
      top: 43%;
      left: 65%;
    }

    #btn3SWM{
      top: 63%;
      left: 48%;
    }

    #btn4SWM{
      top: 66%;
      left: 56%;
    }

    #btn5SWM{
      top: 70%;
      left: 34%;
    }

    #btn6SWM{
      top: 82%;
      left: 52%;
    }

    #btn7SWM{
      top: 50%;
      left: 55%;
    }

    /* Service Well Top Rack Left */
    #btn1SWTRL{
      top: 20%;
      left: 34%;
    }

    #btn2SWTRL{
      top: 80%;
      left: 30%;
    }

    #btn3SWTRL{
      top: 60%;
      left: 42.5%;
    }

    #btn4SWTRL{
      top: 56%;
      left: 54%;
    }

    #btn5SWTRL{
      top: 52%;
      left: 65%;
    }


    /* Service Well Top Rack Right */
    #btn1SWTRR{
      top: 75%;
      left: 49.5%;
    }

    #btn2SWTRR{
      top: 55%;
      left: 60%;
    }

    #btn3SWTRR{
      top: 43%;
      left: 54%;
    }

    #btn4SWTRR{
      top: 37.5%;
      left: 48%;
    }

    #btn5SWTRR{
      top: 32%;
      left: 42%;
    }

    /* Service Well Fruit */
    #btn1SWF{
      top: 45%;
      left: 49%;
    }

    /* Service Well Server Garnish */
    #btn1SWSG{
      top: 73%;
      left: 49%;
    }
    
    #btn2SWSG{
      top: 41%;
      left: 47.5%;
    }

    #btn3SWSG{
      top: 21%;
      left: 47.5%;
    }

    /* Service Well Overstock */
    #btn1SWO{
      top: 68%;
      left: 24%;
    }

    #btn2SWO{
      top: 34.5%;
      left: 33.5%;
    }

    #btn3SWO{
      top: 48%;
      left: 33%;
    }

    #btn4SWO{
      top: 62%;
      left: 32.5%;
    }

    #btn5SWO{
      top: 75%;
      left: 32%;
    }

    #btn6SWO{
      top: 55%;
      left: 62%;
    }

    #btn7SWO{
      top: 85%;
      left: 62%;
    }

    /* Well 400 Main*/
    #btn1W4M{
      top: 28%;
      left: 28%;
    }

    #btn2W4M{
      top: 50%;
      left: 40%;
    }

    #btn3W4M{
      top: 49.5%;
      left: 52.5%;
    }

    #btn4W4M{
      top: 48%;
      left: 60.5%;
    }

    #btn5W4M{
      top: 43%;
      left: 66.5%;
    }

    #btn6W4M{
      top: 55%;
      left: 72%;
    }

    #btn7W4M{
      top: 63%;
      left: 48%;
    }

    #btn8W4M{
      top: 75%;
      left: 48%;
    }

    /* Well 400 Side Station */
    #btn1W4SS{
      top: 55%;
      left: 21.5%;
    }

    #btn2W4SS{
      top: 48%;
      left: 32.75%;
    }

    #btn3W4SS{
      top: 48%;
      left: 44%;
    }

    #btn4W4SS{
      top: 48%;
      left: 55%;
    }

    #btn5W4SS{
      top: 48%;
      left: 70%;
    }

    /* Well 500 Main */
    #btn1W5M{
      top: 30%;
      left: 30%;
    }

    #btn2W5M{
      top: 48%;
      left: 43%;
    }

    #btn3W5M{
      top: 48%;
      left: 59%;
    }

    #btn4W5M{
      top: 69%;
      left: 50%;
    }
    
    #btn5W5M{
      top: 82%;
      left: 50%;
    }

    #btn6W5M{
      top: 26%;
      left: 50%;
    }

    /* Well 500 Left Side */
    #btn1W5LS{
      top: 50%;
      left: 44%;
    }

    #btn2W5LS{
      top: 66%;
      left: 62%;
    }
    
    /* Well 500 Right Side */
    #btn1W5RS{
      top: 67%;
      left: 41%;
    }

    #btn2W5RS{
      top: 28%;
      left: 31.5%;
    }

    #btn3W5RS{
      top: 23%;
      left: 59.5%;
    }

    #btn4W5RS{
      top: 60%;
      left: 66%;
    }

    #btn5W5RS{
      top: 45%;
      left: 41%;
    }

    #btn6W5RS{
      top: 40%;
      left: 60%;
    }

    /* Well 500 Garnish */
    #btn1W5G{
      top: 30%;
      left: 42%;
    }

    #btn2W5G{
      top: 50%;
      left: 42%;
    }

    #btn3W5G{
      top: 42%;
      left: 78%;
    }

    /* Well 500 Overstock */
  #btn1W5O{
    top: 78%;
    left: 40%;
  }

  #btn2W5O{
    top: 78%;
    left: 49%;
  }

  #btn3W5O{
    top: 78%;
    left: 58%;
  }

    /* Well 700 Main */
    #btn1W7M{
      top: 66%;
      left: 38%;
    }

    #btn2W7M{
      top: 51%;
      left: 38%;
    }

    #btn3W7M{
      top: 38%;
      left: 38%;
    }

    #btn4W7M{
      top: 60%;
      left: 53.5%;
    }

    #btn5W7M{
      top: 22%;
      left: 64%;
    }

    #btn6W7M{
      top: 53%;
      left: 64%;
    }

    #btn7W7M{
      top: 26%;
      left: 43%;
    }

    #btn8W7M{
      top: 56%;
      left: 22%;
    }

    /* Well 700 Left Station */
    #btn1W7LS{
      top: 55%;
      left: 19%;
    }

    #btn2W7LS{
      top: 55%;
      left: 48%;
    }

    #btn3W7LS{
      top: 55%;
      left: 79%;
    }
    
    /* Well 700 Overstock */
  #btn1W7O{
    top: 84%;
    left: 37%;
  }

  #btn2W7O{
    top: 84%;
    left: 43%;
  }

  #btn3W7O{
    top: 84%;
    left: 48.75%;
  }

  #btn4W7O{
    top: 84%;
    left: 54.25%;
  }

  #btn5W7O{
    top: 84%;
    left: 60%;
  }

  /* Server Pickup */
  #btn1SP{
    top: 25%;
    left: 60%;
  }

  #btn2SP{
    top: 58%;
    left: 42%;
  }

  #btn3SP{
    top: 50%;
    left: 48%;
  }









    #batchRecipePhotos{
      border: 2px solid red;
      width: 50%;
      height: 60%
    }


    #batchRecipesDiv{
      border: 4px solid rgb(23, 23, 23);
      background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
      box-shadow: 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5);
      width: 50%;
      height: fit-content;
      padding: 6% 0;
      font-size: 1.5em;
      overflow: scroll;
      overflow-x: hidden;
      list-style: none;
    }



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: rgb(0, 0, 0, .9);
  margin: auto;
  padding: 1%;
  border: 5px solid #888;
  border-radius: 4%;
  width: 40%;
  height: 50%;
}

.modal-content h2{
  position: relative;
  margin: 0 auto 2% auto;
  color: antiquewhite;
  width: fit-content;
  font-size: 2em;
  text-decoration: underline;
}

.modal-content span{
  margin-right: 2%;
}

.modal-content ul{
  width: 100%;
}

.modal-content li{
  margin: 0 auto;
  padding: 2% 0%;
  font-size: 1.5em;
  width: 80%;
  list-style-type: none;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalListContainer{
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 4% 0 0 0;
}

} 


/*---------------------------------------------------------- S22 Ultra Landscape Mode ----------------------------------------------------------------------------*/


@media screen and (orientation:landscape) and (max-width: 900px) {
  #rotateScreenIcon,
  h1,
  #dropDownMenu,
  #batchRecipesDiv,
  .setup-images,
  .portrait-buttons,
  .image-numbers
  {
  display: none;
  }

  #icon{
    top: 1.5%;
    left: 2%;
    font-size: 4em;
  }

  .close {
    font-size: 20px;
  }

  .setup-images{
    box-shadow: 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5);
    border-radius: 1.5%;
    max-width: 55%;
  }

  #serviceWellFruit{
    max-width: 35%;
  }

  #serviceWellMain,
  #well500Overstock,
  #serviceWellTopRackRight,
  #well500Main
  {
    max-width: 35%;
  }

  #well700Overstock{
    max-width: 40%;
  }

  #well500LeftSide,
  #serverPickup,
  #well400Main{
    max-width: 45%;
  }

  #serviceWellTopRackLeft,
  #serviceWellOverstock,
  #well700Main,
  #serviceWellServerGarnish,
  #well500RightSide
  {
    max-width: 48%;
  }

  #well500Garnish
  {
    max-width: 68%;
  }

  #well700LeftStation{
    max-width: 85%;
  }




  .image-numbers{
    font-size: 1.5em;
    box-shadow: 1px 1px 30px rgb(0, 0, 0, 1), 1px 1px 30px rgb(0, 0, 0, 1), 1px 1px 30px rgb(0, 0, 0, 1);
    border: .2em solid rgb(38, 255, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 3%;
    height: 7.75%;
    position: absolute;
    text-align: center;
  }

  .image-numbers:hover{
    background-color: rgb(0, 0, 0, .7);
    color: antiquewhite;
    box-shadow: 1px 1px 30px rgb(255, 255, 255) , 1px 1px 30px rgb(255, 255, 255), 1px 1px 30px rgb(255, 255, 255);
    transition: transform .2s;
    transform: scale(1.75);
  }


  /* Service Well Printer */
  #btn1SWP{
    top: 40%;
    left: 28%;
  }

  #btn2SWP{
    top: 25%;
    left: 41%;
  }

  #btn3SWP{
    top: 66%;
    left: 47.75%;
  }

  #btn4SWP{
    top: 72%;
    left: 27.5%;
  }

  #btn5SWP{
    top: 45%;
    left: 45%;
  }

  #btn6SWP{
    top: 33%;
    left: 54%;
  }

  #btn7SWP{
    top: 55%;
    left: 67%;
  }

  #btn8SWP{
    top: 17%;
    left: 64%;
  }


  /* Service Well Main */
  #btn1SWM{
    top: 35%;
    left: 40%;
  }

  #btn2SWM{
    top: 41%;
    left: 60%;
  }

  #btn3SWM{
    top: 60%;
    left: 49%;
  }

  #btn4SWM{
    top: 64%;
    left: 56%;
  }

  #btn5SWM{
    top: 70%;
    left: 38%;
  }

  #btn6SWM{
    top: 82%;
    left: 50%;
  }

  #btn7SWM{
    top: 50%;
    left: 55%;
  }

  /* Service Well Top Rack Left */
  #btn1SWTRL{
    top: 28%;
    left: 38%;
  }

  #btn2SWTRL{
    top: 80%;
    left: 35%;
  }

  #btn3SWTRL{
    top: 60%;
    left: 44%;
  }

  #btn4SWTRL{
    top: 56%;
    left: 53%;
  }

  #btn5SWTRL{
    top: 53%;
    left: 61%;
  }


  /* Service Well Top Rack Right */
  #btn1SWTRR{
    top: 75%;
    left: 49.5%;
  }

  #btn2SWTRR{
    top: 58%;
    left: 57%;
  }

  #btn3SWTRR{
    top: 43%;
    left: 52%;
  }

  #btn4SWTRR{
    top: 37.5%;
    left: 47.5%;
  }

  #btn5SWTRR{
    top: 32%;
    left: 43%;
  }

  /* Service Well Fruit */
  #btn1SWF{
    top: 45%;
    left: 49%;
  }

  /* Service Well Server Garnish */
  #btn1SWSG{
    top: 73%;
    left: 49%;
  }
  
  #btn2SWSG{
    top: 41%;
    left: 47.5%;
  }

  #btn3SWSG{
    top: 19%;
    left: 47.5%;
  }

  /* Service Well Overstock */
  #btn1SWO{
    top: 65%;
    left: 30%;
  }

  #btn2SWO{
    top: 34.5%;
    left: 37%;
  }

  #btn3SWO{
    top: 48%;
    left: 36.5%;
  }

  #btn4SWO{
    top: 62%;
    left: 36%;
  }

  #btn5SWO{
    top: 75%;
    left: 35.5%;
  }

  #btn6SWO{
    top: 55%;
    left: 59%;
  }

  #btn7SWO{
    top: 85%;
    left: 59%;
  }

  /* Well 400 Main*/
  #btn1W4M{
    top: 34%;
    left: 31%;
  }

  #btn2W4M{
    top: 50%;
    left: 41%;
  }

  #btn3W4M{
    top: 49.5%;
    left: 51.5%;
  }

  #btn4W4M{
    top: 48%;
    left: 58.5%;
  }

  #btn5W4M{
    top: 43%;
    left: 63.25%;
  }

  #btn6W4M{
    top: 55%;
    left: 68%;
  }

  #btn7W4M{
    top: 63%;
    left: 46%;
  }

  #btn8W4M{
    top: 75%;
    left: 46%;
  }

  /* Well 400 Side Station */
  #btn1W4SS{
    top: 55%;
    left: 27.25%;
  }

  #btn2W4SS{
    top: 48%;
    left: 36%;
  }

  #btn3W4SS{
    top: 48%;
    left: 45%;
  }

  #btn4W4SS{
    top: 48%;
    left: 54%;
  }

  #btn5W4SS{
    top: 48%;
    left: 66%;
  }

  /* Well 500 Main */
  #btn1W5M{
    top: 34%;
    left: 35%;
  }

  #btn2W5M{
    top: 48%;
    left: 45%;
  }

  #btn3W5M{
    top: 48%;
    left: 56%;
  }

  #btn4W5M{
    top: 69%;
    left: 50%;
  }
  
  #btn5W5M{
    top: 82%;
    left: 50%;
  }

  #btn6W5M{
    top: 26%;
    left: 50%;
  }

  /* Well 500 Left Side */
  #btn1W5LS{
    top: 50%;
    left: 44%;
  }

  #btn2W5LS{
    top: 66%;
    left: 58%;
  }
  
  /* Well 500 Right Side */
  #btn1W5RS{
    top: 67%;
    left: 42.75%;
  }

  #btn2W5RS{
    top: 28%;
    left: 36%;
  }

  #btn3W5RS{
    top: 23%;
    left: 56%;
  }

  #btn4W5RS{
    top: 60%;
    left: 62%;
  }

  #btn5W5RS{
    top: 45%;
    left: 44%;
  }

  #btn6W5RS{
    top: 39%;
    left: 57.5%;
  }

  /* Well 500 Garnish */
  #btn1W5G{
    top: 30%;
    left: 42%;
  }

  #btn2W5G{
    top: 50%;
    left: 42%;
  }

  #btn3W5G{
    top: 42%;
    left: 74%;
  }

  /* Well 500 Overstock */
  #btn1W5O{
    top: 78%;
    left: 42.5%;
  }

  #btn2W5O{
    top: 78%;
    left: 49.5%;
  }

  #btn3W5O{
    top: 78%;
    left: 56%;
  }

  /* Well 700 Main */
  #btn1W7M{
    top: 66%;
    left: 40%;
  }

  #btn2W7M{
    top: 49%;
    left: 40%;
  }

  #btn3W7M{
    top: 37%;
    left: 40%;
  }

  #btn4W7M{
    top: 60%;
    left: 52.5%;
  }

  #btn5W7M{
    top: 22%;
    left: 64%;
  }

  #btn6W7M{
    top: 53%;
    left: 64%;
  }

  #btn7W7M{
    top: 24%;
    left: 43%;
  }

  #btn8W7M{
    top: 65%;
    left: 26%;
  }

  /* Well 700 Left Station */
  #btn1W7LS{
    top: 55%;
    left: 21%;
  }

  #btn2W7LS{
    top: 55%;
    left: 48%;
  }

  #btn3W7LS{
    top: 55%;
    left: 79%;
  }

  /* Server Pickup */
  #btn1SP{
    top: 27%;
    left: 57%;
  }

  #btn2SP{
    top: 61%;
    left: 42%;
  }

  #btn3SP{
    top: 50%;
    left: 48%;
  }




}


/*---------------------------------------------------------- Portrait Mode ----------------------------------------------------------------------------*/

@media screen and (orientation:portrait) and (max-width: 2000px) {
  *{
    z-index: 2;
    color: rgb(241, 237, 231);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

li,
#modalTitle,
#batchRecipesDiv,
.topnav,
.photo-containers,
.setup-images,
.menu-items,
.close,
.image-numbers,
#dropDownMenu,
#myModal
{
  display: none;
}

#logoDiv {
    max-width: 100%;
    height: 16vh;
    padding: 3% 0% 0% 0%;
}

img[src="./images/logo.png"]{
    display: flex;
    margin: auto;
    height: auto;
    max-width: 90%;
}

#portraitContainer{
  box-shadow: 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5);
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 50%;
  border: 10px solid black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  padding: 8%;
}

.portrait-buttons{
  border: 4px outset rgb(122, 113, 113);
  width: 35vw;
  height: 8vh;
  font-size: 2vh;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2vw;
  justify-content: center;
  padding: 0 6%;
} 

h1{
    display: grid;
    justify-content: center;
    height: auto;
    font-size: 2.75vh;
    font-family: monospace;
    padding: 5% 10%;
    font-weight: 400;
    text-shadow: 2px 2px rgb(13, 13, 13);
}

#rotateScreenIcon{
    display: block;
    margin: auto;
    height: 30%;
}
}